@font-face {
  font-family: 'inter';
  src: url('../fonts/inter-400.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'inter Bold';
  src: url('../fonts/inter-700.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'inter Extra Bold';
  src: url('../fonts/inter-900.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'inter Rub';
  src: url('../fonts/Inter-900-for-rub.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}
:root {
  /* Базовый цвет */
  --basic-color-extradark: hsla(218, 17%, 21%, 1);
  --basic-color-dark: hsla(218, 9%, 37%, 1);
  --basic-color-neutral: hsla(0, 0%, 73%, 1);
  --basic-color-light: hsla(0, 0%, 91%, 1);
  --basic-color-lighter: hsla(0, 0%, 99%, 0.50);
  --basic-color-extralighter: hsla(0, 0%, 99%, 0.30);
  --basic-color-extralight: hsla(0, 0%, 99%, 1);
  --basic-color-white: hsla(0, 0%, 100%, 1);
  /* Дополнительный цвет */
  --additional-color-extrabright: hsla(345, 100%, 59%, 1);
  --additional-color-bright: hsla(345, 100%, 65%, 1);
  --additional-color-neutral: hsla(345, 100%, 73%, 1);
  --additional-color-light: hsla(345, 98%, 84%, 1);
  --additional-color-extralight: hsla(345, 100%, 90%, 1);
  --additional-color-blue: hsla(214, 100%, 71%, 1);
  --additional-color-yellow: hsla(42, 97%, 65%, 1);
  /* Цвет статусов */
  --status-error: hsla(0, 78%, 62%, 1);
  --status-warning: hsla(29, 98%, 59%, 1);
  --status-success: hsla(155, 100%, 45%, 1);
  /* Шрифты */
  --font-family-regular: 'inter';
  --font-family-bold: 'inter Bold';
  --font-family-extrabold: 'inter Extra Bold';
  /* Тень */
  --shadow-light: 0px 4px 12px rgba(45, 52, 64, 0.1);
  --shadow-middle: 0px 8px 16px rgba(45, 52, 64, 0.12);
  --shadow-big: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
img  {
  pointer-events: none;
}
.main-body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-regular), sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  background-color: var(--additional-color-light);
  overflow-x: hidden;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Текст */
.title-one {
  font-family: var(--font-family-extrabold), sans-serif;
  font-size: 36px;
  line-height: 46px;
}
.title-two {
  font-family: var(--font-family-extrabold), sans-serif;
  font-size: 32px;
  line-height: 46px;
}
.title-three {
  font-family: var(--font-family-bold), sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.title-four {
  font-family: var(--font-family-bold), sans-serif;
  font-size: 20px;
  line-height: 24px;
}
.title-five {
  font-family: var(--font-family-bold), sans-serif;
  font-size: 18px;
  line-height: 22px;
}
/* CONTAINER */
.container {
  width: 1170px;
  margin: 0 auto;
}
.container-left,
.container-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 17px;
}
.container-left {
  order: 0;
}
.container-right {
  order: 1;
  gap: 8px 17px;
}
.container-margin {
  margin-bottom: 80px;
}

/* BOTTOM */
.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px 12px 33px;
  font-family: var(--font-family-bold), sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  text-align: center;
  text-decoration: none;
  border: none;
  outline: 4px solid var(--basic-color-lighter);
  border-radius: 26px;
  background-color: var(--basic-color-white);
  box-shadow: var(--shadow-middle);
  transition: background-color 0.2s, outline 0.2s;
  cursor: pointer;
  user-select: none;
}
.button:hover {
  outline-color: var(--basic-color-white);
  background-color: var(--basic-color-extralighter);
}
.button:active {
  outline-color: var(--basic-color-extradark);
  outline-width: 2px;
  background-color: var(--basic-color-white);
}
.button:focus:not(:active) {
  outline-color: var(--basic-color-extradark);
  outline-width: 2px;
  background-color: var(--basic-color-extralighter);
}
.button:disabled {
  outline-color: var(--basic-color-extralighter);;
  color: var(--basic-color-neutral);
  background-color: var(--basic-color-light);
}
.button-other {
  padding: 12px 32px;
  font-family: var(--font-family-bold), sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-color-white);
  border: none;
  border-radius: 26px;
  background-color: var(--additional-color-extrabright);
  outline: 4px solid var(--additional-color-extralight);
  cursor: pointer;
  box-shadow: var(--shadow-big);
  transition: background-color 0.15s, outline-color 0.15s;
}
.button-other:hover:not(:disabled) {
  color: var(--basic-color-extradark);
  background-color: transparent;
  outline-color: var(--additional-color-extrabright);
}
.button-other:active:not(:disabled) {
  background-color: var(--additional-color-light);
  outline-width: 2px;
  outline-color: var(--basic-color-extradark);
  outline-offset: -2px;
}
.button-other:focus:not(:active) {
  outline-width: 2px;
  outline-color: var(--basic-color-extradark);
  outline-offset: -2px;
}
.button-other:disabled {
  color: var(--basic-color-dark);
  background-color: var(--basic-color-neutral);
  outline-color: var(--basic-color-light);
  cursor: auto;
}
/* FORM */
.input {
  padding: 14px 16px;
  font-family: var(--font-family-regular), sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  border: 1px solid var(--basic-color-neutral);
  border-radius: 4px;
  outline: none;
}
.input::placeholder {
  font-family: inherit;
  color: var(--basic-color-neutral);
}
.input:hover:not(:disabled) {
  border-color: var(--basic-color-extradark);
}
.input:focus {
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: -2px;
}
.input:disabled {
  background-color: var(--basic-color-light);
  color: var(--basic-color-extradark);
}
.input-error {
  border-color: var(--status-error);
}
.input-error:hover, .input-error:focus {
  outline: 2px solid var(--status-error);
  outline-offset: -2px;
}

.header-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 16px 7px 16px;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  text-decoration: none;
  background-color: var(--basic-color-extralighter);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.header-button:hover:not(.header-button--active) {
  background-color: var(--basic-color-lighter);
}
.header-button:active:not(.header-button--active) {
  background-color: var(--basic-color-white);
}
.header-button:focus:not(.header-button--active):not(:active) {
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: -2px;
}
.header-button--active {
  background-color: var(--additional-color-bright);
  color: var(--basic-color-white);
}
.header-button--active:hover {
  opacity: 0.6;
}
.header-button--active:active {
  opacity: 0.3;
}
.header-button--active:focus:not(:active) {
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: -2px;
}
.header-button::before {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--basic-color-extradark);
}
/* HEADER */
.main-header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr minmax(435px, 35%);
  /*justify-content: space-between;*/
  column-gap: 16px;
}
/* LOGO */
.logo {
  display: inline-flex;
}
.logo:focus {
  outline: 2px solid var(--basic-color-extradark);
}
.logo-img {
  width: 137px;
  height: 56px;
}
/* DROPDOWN */
.dropdown {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 1;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--basic-color-white);
  border-radius: 4px;

  opacity: 0;
  visibility: hidden;
  min-height: 0;
  transition: opacity 0.15s ease-in-out;
  pointer-events: none;
}
.dropdown-link {
  display: inline-flex;
  width: 100%;
  padding: 6px 15px;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  text-decoration: none;
}
.dropdown-link--new {
  flex-direction: column;
  row-gap: 13px;
  padding-bottom: 4px;
  font-family: var(--font-family-bold), sans-serif;
}
.dropdown-link--new::after {
  content: '';
  width: calc(100% - 5px);
  height: 1px;
  background-color: var(--basic-color-neutral);
}
/* MENU */
.menu {
  display: flex;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
.menu-list .dropdown {
  min-width: 138px;
}
.menu-list__item {
  position: relative;
  display: inline-flex;
}
.menu-list__link {
  padding: 8px 16px;
  font-family: var(--font-family-regular), sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--basic-color-extradark);
  transition: color 0.15s ease, background-color 0.15s ease, border-radius 0.1s ease;
  border-radius: 30px;
}

.menu-list__link--dropdown {
  display: flex;
  column-gap: 7px;
}
.menu-list__link--dropdown::after {
  content: '';
  align-self: center;
  width: 16px;
  height: 16px;
  -webkit-mask-image: url('../img/icons/arrow-down.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url('../img/icons/arrow-down.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--basic-color-extradark);
  transition: transform 0.2s ease-in-out;
}
.menu-list__link:hover:not(.menu-list__link--active),
.menu-list__link:focus:not(.menu-list__link--active) {
  background-color: var(--basic-color-lighter);
}
.menu-list__link:active:not(.menu-list__link--active) {
  background-color: var(--basic-color-white);
}
.menu-list__link:focus:not(.menu-list__link--active):not(:active) {
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: -2px;
}
.menu-list__link--active {
  color: var(--basic-color-white);
  background-color: var(--additional-color-bright);
}
.menu-list__link--active ~ .dropdown {
  opacity: 1;
  min-height: 100%;
  visibility: visible;
  pointer-events: auto;
}
.menu-list__link--active:hover {
  opacity: 0.6;
}
.menu-list__link--active:active {
  opacity: 0.3;
}
.menu-list__link--active:focus:not(:active) {
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: -2px;
}
.menu-list__link--active::after  {
  transform: rotate(180deg);
  background-color: var(--basic-color-white);
}

/* TELEPHONE */
.number-telephone {
  font-family: var(--font-family-bold), sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  text-decoration: none;
}
.number-telephone:focus {
  outline: 2px solid var(--basic-color-extradark);
}
/* SEARCH */
.form-search {
  position: relative;
  display: inline-flex;
  margin-right: -1px;
}
.form-search__button {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
}
.form-search__button-icon {
  display: inline-flex;
  width: inherit;
  height: inherit;
  mask-image: url('../img/icons/search.svg');
  mask-size: 16px;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--basic-color-extradark);
}
.header-button--active .form-search__button-icon {
  background-color: var(--basic-color-white);
}
.header-button--active ~ .dropdown{
  opacity: 1;
  min-height: 100%;
  visibility: visible;
  pointer-events: auto;
}
.form-search .dropdown {
  padding: 24px 16px;
  right: 0;
  left: auto;
}
.form-search__input {
  width: 324px;
}
/* BUTTON LOGIN */
.button-login {
  column-gap: 6px;
}
.button-login::before {
  content: '';
  mask-image: url('../img/icons/log-in.svg');
}
.header-button--active.button-login::before {
  background-color: var(--basic-color-white);
}
/* BUTTON BASKET */
.button-cart {
  column-gap: 6px;
}
.button-cart::before {
  content: '';
  mask-image: url('../img/icons/cart.svg');
}
.header-button--active.button-cart::before {
  background-color: var(--basic-color-white);
}
/* SLIDER */
.slider {
  padding: 21px 0 0 0;
}
.slider__images {
  position: relative;
}
.slider__list {
  display: grid;
  grid-template-columns: 525px 1fr;
  align-items: center;
  column-gap: 2px;
}
.slider__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
  margin-top: 24px;
}
.slider__content {
  padding-right: 20px;
  word-break: break-all;
}
.slider__title {
  margin-top: 0;
  margin-bottom: 24px;
}
.slider__description {
  margin-top: 0;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-color-extradark);
}
.slider__button {
  margin-bottom: 21px;
}
.slider__images-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  column-gap: 41px;
  padding: 0 0 0 19px;
  margin: 0;
}
.slider__images-item {
  position: relative;
  width: 100px;
  height: 150px;
  opacity: 0.4;
}
.slider__images-item:nth-child(2).slider__images-item--active {
  --additional-color-light: hsla(214, 100%, 71%, 1);
}
.slider__images-item::before {
  content: '';
  position: absolute;
  top: calc(50% - -2px);
  left: -1px;
  z-index: -1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--basic-color-extralighter);
  transform: translateY(-50%);
}
.slider__images-item--active {
  width: auto;
  height: 507px;
  opacity: 1;
  order: -1;
  margin-right: 16px;
}
.slider__images-item--active::before {
  width: 327px;
  height: 312px;
}
.slider__images-item--active img {
  width: max-content;
  height: 507px;
}
.slider__picture {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-left: 4px;
}
.slider__images-item--active .slider__picture {
  margin-top: 0;
  margin-left: -1px;
}

.controls {
  display: flex;
  justify-content: space-between;
}
.controls__button {
  position: relative;
  width: 38px;
  height: 38px;
  border: 2px solid var(--basic-color-white);
  border-radius: 50%;
  background-color: var(--basic-color-extralighter);
  cursor: pointer;
  transition: background-color 0.15s ease, border-color 0.15s ease;
}
.controls__button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  -webkit-mask-image: url('../img/icons/arrow-down.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url('../img/icons/arrow-down.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: background-color 0.15s ease, border-color 0.15s ease;
}
.controls__button--prev::before {
  transform: translate(-50%, -50%) rotate(90deg);
  background-color: var(--basic-color-white);
}
.controls__button--next::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  background-color: var(--basic-color-white);
}

.controls__button:hover {
  border-color: var(--basic-color-white);
  background-color: var(--basic-color-white);
}
.controls__button:hover::before {
  background-color: var(--basic-color-extradark);
}

.controls__button:active {
  border-color: hsla(0, 0%, 99%, 0);
}
.controls__button:active::before {
  background-color: var(--basic-color-extradark);
}

.controls__button:focus,
.controls__button:focus-visible {
  outline: none;
  border-color: var(--basic-color-extradark);
}
.controls__button:focus::before,
.controls__button:focus-visible::before {
  background-color: var(--basic-color-extradark);
}

.slider__controls {
  position: absolute;
  top: calc(50% + 2px);
  left: 0;
  width: 363px;
  transform: translateY(-50%);
}
.slider__footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.slider__dots {
  display: flex;
  column-gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.slider__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--basic-color-extralighter);
  cursor: pointer;
}
.slider__dot--active {
  background-color: var(--basic-color-white);
}
.slider__dot:hover:not(:active) {
  outline: 1px solid var(--basic-color-white);
  outline-offset: -1px;
}
.slider__dot:active {
  background-color: var(--basic-color-lighter);
}
.slider__dot:focus {
  outline: 1px solid var(--basic-color-extradark);
  outline-offset: -1px;
  }

/* SOCIAL */
.social {
  display: flex;
  column-gap: 14px;
  padding: 0;
  margin: 1px -1px 0 0;
  list-style-type: none;
}
.social__item {
  position: relative;
  width: 26px;
  height: 26px;
  color: var(--basic-color-white);
}
.social__link {
  position: relative;
  display: inline-flex;
  padding: 0;
  margin: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  outline: 2px solid var(--basic-color-extralighter);
  outline-offset: -1px;
  transition: opacity 0.15s ease, outline-color 0.15s ease;
}
.social__link::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.15s ease;
}
.social__icon {
  width: inherit;
  height: inherit;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.social__link:hover::before,
.social__link:active::before,
.social__link:focus::before {
  background-color: black;
}
.social__link:active {
  opacity: 0.5;
}
.social__link:focus:not(:active) {
  outline-color: var(--basic-color-extradark);
}
.social__icon--telegram {
  background-image: url('../img/icons/telegram.svg');
}
.social__icon--vk {
  background-image: url('../img/icons/vk.svg');
}
.social__icon--youtube {
  background-image: url('../img/icons/youtube.svg');
}

/* GIFTS */
.gifts {
  margin-top: -1px;
  word-break: break-word;
}
.gifts__title {
  max-width: 434px;
  margin: 0 auto 55px auto;
  text-align: center;
}
.gifts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.gift {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-color: var(--additional-color-neutral);
  overflow: hidden;
}
.gift__content {
  padding: 36px 0 18px 36px
}
.gift__title {
  margin: 0 0 28px 0
}
.gift__description {
  margin: 0 0 28px 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-color-extradark);
}
.gift__link {
  margin: 0 0 18px 0;
}
.gift__media {
  display: flex;
  align-items: end;
  height: 100%;
}
.gift__image {
  display: flex;
}
/* TOP PRODUCTS */
.top-products__title {
  max-width: 527px;
  margin: 0 auto 56px auto;
  padding-top: 1px;
  text-align: center;
}
.top-products__container {
  display: grid;
  grid-template-columns: repeat(4, minmax(270px, 1fr));
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* PRODUCT */
.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px 18px 40px;
  word-break: break-all;
}
.product::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - 51px);
  background-color: #fff;
  z-index: -5;
  border-radius: 8px;
}
.product__content {
  text-align: center;
}
.product__title {
  margin: 16px 0 8px 0;
}
.product__description {
  margin: 0 0 10px 0;
  line-height: 22px;
  color: var(--basic-color-dark);
}
.product__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-top: auto;
}
.product__price .title-four {
  margin: 10px 0;
}
.product__currency {
  margin-right: -5px;
  font-family: 'inter Rub', sans-serif;
}
.product__weight {
  margin-left: -5px;
}
.product__button {
  display: inline-flex;
  width: 32px;
  height: 32px;
  background-color: var(--additional-color-extrabright);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s ease, outline-color 0.15s ease;
}
.product__button--cart::before {
  content: '';
  width: inherit;
  height: inherit;
  -webkit-mask-image: url('../img/icons/cart.svg');
  -webkit-mask-size: 16px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url('../img/icons/cart.svg');
  mask-repeat: no-repeat;
  mask-size: 16px;
  mask-position: center;
  background-color: var(--basic-color-white);
  transition: background-color 0.15s ease;
}
.product__button:hover:not(:disabled) {
  background-color: transparent;
  outline: 2px solid var(--additional-color-extrabright);
  outline-offset: -2px;
}
.product__button:hover:not(:disabled).product__button--cart::before {
  background-color: var(--basic-color-extradark);
}
.product__button:active:not(:disabled) {
  outline: 2px solid var(--additional-color-extrabright);
  outline-offset: -2px;
  background-color: var(--additional-color-extralight);
}
.product__button:active:not(:disabled).product__button--cart::before {
  background-color: var(--basic-color-extradark);
}
.product__button:focus:not(:active) {
  background-color: var(--additional-color-extrabright);
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: -2px;
}
.product__button:focus:not(:active).product__button--cart::before {
  background-color: var(--basic-color-white);
}
.product__button:disabled {
  background-color: var(--basic-color-neutral);
  cursor: auto;
}
.product__button:disabled.product__button--cart::before {
  background-color: var(--basic-color-dark);
}
.product__media {
  display: flex;
  order: -1;
}
.product__image {
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--shadow-light);
}
/* ADVANTAGES */
.advantages-section {
  padding-top: 1px;
  margin-top: -1px;
  margin-bottom: 104px;
}
.advantages__container {
  padding-top: 24px;
}
.advantages {
  position: relative;
  margin: 24px;
  padding: 56px 40px 36px 40px;
  border-radius: 16px;
  background-color: var(--basic-color-white);
}
.advantages::before {
  content: '';
  position: absolute;
  top: -24px;
  bottom: -24px;
  left: -24px;
  right: -24px;
  border-radius: inherit;
  background-image: url('../img/background/wafer.jpg');
  background-repeat: repeat;
  background-size: auto;
  z-index: -10;
}
.advantages__title {
  margin: 0 0 56px 0;
  text-align: center;
}
.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(505px, 1fr));
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
  list-style-type: none;
  gap: 40px 32px;
}
.advantages__item {
  display: grid;
  grid-template-columns: 48px 1fr;
  column-gap: 16px;
}
.advantages__description {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-color-dark);
}
.advantages__icon-wrapper {
  order: -1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: -2px;
}
.advantages__icon {
  display: inline;
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
}
.advantages__icon--icecream {
  background-image: url("../img/icons/ice-cream.svg");
}
.advantages__icon--cow {
  background-image: url("../img/icons/cow.svg");
}
.advantages__icon--leaf {
  background-image: url("../img/icons/leaf.svg");
}
.advantages__icon--thermometer {
  background-image: url("../img/icons/thermometer.svg");
}

.post-subscribe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
/* NEW POST */
.new-post {
  padding: 32px 32px 45px 32px;
  border-radius: 16px;
  background-color: var(--basic-color-white);
  background-image: url("../img/background/post-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 41px -84px;
}
.new-post__label {
  display: flex;
  font-size: 16px;
  color: var(--basic-color-dark);
  margin: 0 0 13px 0;
}
.new-post__link {
  display: flex;
  max-width: 303px;
  text-decoration: none;
  color: var(--basic-color-extradark);
}
.new-post__title {
  margin: 0 0 24px 0;
}
/* SUBSCRIBE */
.subscribe {
  position: relative;
  margin: 6px;
  padding: 26px;
  border-radius: 16px;
  background-color: var(--basic-color-white);
}
.subscribe::before {
  content: '';
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  z-index: -15;
  background-image: url("../img/background/subscription-full.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -5px 0;
  border-radius: inherit;
}
.subscribe__description {
  margin: 0 0 44px 0;
  line-height: 22px;
  color: var(--basic-color-dark);
}
.subscribe__form {
  display: flex;
  column-gap: 18px;
  align-items: center;
}
.subscribe__input {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
}
.subscribe__button {
  height: max-content;
  padding: 12px 32px;
  margin-right: 4px;
}
/* SECTION DELIVERY */
.delivery {
  position: relative;
  padding: 64px 64px 65px 64px;
  border-radius: 16px;
}
.delivery::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--basic-color-white);
  background-image: image-set(
    url("../img/background/form.webp") 1x,
    url("../img/background/form.jpg") 1x
  );
  background-repeat: no-repeat;
  background-position: 99% 49%;
  transform: scaleX(-1);
  border-radius: inherit;
  background-size: 105%;
}
.delivery-wrapper {
  display: grid;
  grid-template-columns: 407px 500px;
  column-gap: 135px;
  align-items: center;
}
.delivery__content {
  margin: 21px 0 0 36px;
}
.delivery__title {
  margin: 0 0 24px 0;
}
.delivery__description {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-color-dark);
}
.delivery-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 41px 40px;
  background-color: var(--basic-color-white);
  border-radius: 8px;
}
.delivery-form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
}
.delivery-form__legend {
  width: 93%;
  padding: 0;
  margin-bottom: 31px;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-color-dark);
}
.delivery-form__wrapper {
  display: grid;
  grid-template-columns: 117px 1fr;
  gap: 20px 16px;
  margin-bottom: 32px;
}

.delivery-form__label {
  display: flex;
  margin: 0 0 8px 0;
  column-gap: 5px;
  align-items: center;
  font-family: var(--font-family-bold), sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.delivery-form__input {
  width: 100%;
  padding: 13px 15px;
}
.delivery-form__date {
  grid-column: 1/2;
  grid-row: 1/2;
}
.delivery-form__telephone {
  grid-column: 2/3;
  grid-row: 1/2;
}
.delivery-form__address {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.tooltip {
  position: relative;
  display: inline-flex;
  width: 100%;
}
.tooltip__button {
  width: 14px;
  height: 14px;
  text-align: left;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons/Info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}
.tooltip__button:hover:not(.delivery-form__label) ~ .tooltip__info {
  visibility: visible;
  opacity: 1;
}
.tooltip__info {
  position: absolute;
  min-width: 64px;
  max-width: 169px;
  padding: 10px 8px;
  font-family: var(--font-family-regular), sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: var(--basic-color-dark);
  border: 1px solid var(--basic-color-neutral);
  border-radius: 2px;
  background-color: var(--basic-color-white);
  transform: translate(30px, -14px);
  opacity: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
  z-index: 10;
  transition: opacity 0.25s;
}
.tooltip__info::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent var(--basic-color-neutral) transparent transparent;
}
.tooltip__info::after {
  content: '';
  position: absolute;
  top: 8px;
  left: -19px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent var(--basic-color-white) transparent transparent;
}

/* CONTACTS */
.contacts-wrapper {
  padding: 64px;
  border-radius: 16px;
  background-color: var(--basic-color-white);
  background-image: image-set(
    url("../img/background/address.webp") 1x,
    url("../img/background/address.jpg") 1x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -83px;
}
.contacts {
  padding: 40px;
  border-radius: 8px;
  background-color: var(--basic-color-white);
}
.contacts-container {
  max-width: 343px;
}
.contacts__title {
  margin: 0 0 12px 0;
  font-family: var(--font-family-regular), sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  color: var(--basic-color-dark);
}
.contacts__address {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-style: normal;
}
.contacts__street {
  margin: 0 0 8px 0;
}
.contacts__info {
  display: flex;
  flex-direction: column;
}
.contacts__telephone {
  color: var(--basic-color-extradark);
  text-decoration: none;
}
.contacts__time {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-color-dark);
}
.contacts__button {
  margin: 0 0 2px 0;
}
/* FOOTER */
.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 46px 0;
}
/* FOOTER SOCIAL */
.main-footer__social {
  margin: 1px 0 0 -1px;
}
/* FOOTER MENU */
.footer-menu {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  padding: 0;
  margin: 1px 0 0 -1px;
  list-style-type: none;
}
.footer-menu__item {
  display: flex;
  margin: 0 0px 8px 24px;
}
.footer-menu__link {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  text-decoration: none;
}
.footer-menu__item--favorite {
  position: relative;
  font-family: var(--font-family-bold), sans-serif;
}
.footer-menu__item--favorite::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 13%;
  left: -24px;
  background-image: url("../img/icons/heart-fill.svg");
}
/* COPYRIGHT */
.copyright {
  margin: 2px -1px 0 0;
}
.copyright__logo-link {
  display: inline-flex;
  margin: 0 0 11px 0;
}
.copyright__logo-img {
  object-fit: cover;
}
.copyright__text {
  margin: 0;
  font-size: 12px;
  height: 16px;
  color: var(--basic-color-extradark);
}
.copyright__link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--basic-color-dark);
}
