@font-face {
  font-family: 'inter';
  src: url('../fonts/inter-400.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'inter';
  src: url('../fonts/inter-700.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'inter';
  src: url('../fonts/inter-900.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'inter';
  src: url('../fonts/Inter-900-for-rub.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}
:root {
  --basic-color-extradark: hsla(218, 17%, 21%, 1);
  --basic-color-dark: hsla(218, 9%, 37%, 1);
  --basic-color-darklight: hsla(218, 9%, 37%, 0.3);
  --basic-color-neutral: hsla(0, 0%, 73%, 1);
  --basic-color-light: hsla(0, 0%, 91%, 1);
  --basic-color-lighter: hsla(0, 0%, 99%, 0.50);
  --basic-color-extralighter: hsla(0, 0%, 99%, 0.30);
  --basic-color-extralight: hsla(0, 0%, 99%, 1);
  --basic-color-white: hsla(0, 0%, 100%, 1);

  --additional-color-extrabright: hsla(345, 100%, 59%, 1);
  --additional-color-bright: hsla(345, 100%, 65%, 1);
  --additional-color-neutral: hsla(345, 100%, 73%, 1);
  --additional-color-light: hsla(345, 98%, 84%, 1);
  --additional-color-extralight: hsla(345, 100%, 90%, 1);
  --additional-color-blue: hsla(214, 100%, 71%, 1);
  --additional-color-yellow: hsla(42, 97%, 65%, 1);

  --status-error: hsla(0, 78%, 62%, 1);
  --status-warning: hsla(29, 98%, 59%, 1);
  --status-success: hsla(155, 100%, 45%, 1);

  --font-family: 'inter';
  --weight-normal: 400;
  --weight-middle: 500;
  --weight-bold: 700;
  --weight-rub: 900;

  --shadow-light: 0px 4px 12px rgba(45, 52, 64, 0.1);
  --shadow-middle: 0px 8px 16px rgba(45, 52, 64, 0.12);
  --shadow-big: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
img  {
  pointer-events: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.main-body {
  min-width: 1170px;
  margin: 0;
  padding: 0;
  font-family: var(--font-family), sans-serif;
  font-size: 16px;
  font-weight: var(--weight-normal);
  line-height: 20px;
  color: var(--basic-color-extradark);
  background-color: var(--additional-color-light);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-one {
  font-family: inherit;
  font-weight: var(--weight-bold);
  font-size: 36px;
  line-height: 46px;
}
.title-two {
  font-family: inherit;
  font-weight: var(--weight-bold);
  font-size: 32px;
  line-height: 46px;
}
.title-three {
  font-family: inherit;
  font-weight: var(--weight-middle);
  font-size: 24px;
  line-height: 30px;
}
.title-four {
  font-family: inherit;
  font-weight: var(--weight-middle);
  font-size: 20px;
  line-height: 24px;
}
.title-five {
  font-family: inherit;
  font-weight: var(--weight-bold);
  font-size: 18px;
  line-height: 22px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
.container-left,
.container-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 17px;
}
.container-left {
  order: 0;
}
.container-right {
  order: 1;
  gap: 8px 17px;
  justify-content: end;
}
.container-margin {
  margin-bottom: 80px;
}
.container-main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.body-overlay {
  overflow: hidden;
}

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px 12px 33px;
  font-family: inherit;
  font-weight: var(--weight-middle);
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  text-align: center;
  text-decoration: none;
  border: none;
  outline: 4px solid var(--basic-color-lighter);
  border-radius: 26px;
  background-color: var(--basic-color-white);
  box-shadow: var(--shadow-middle);
  transition: background-color 0.2s, outline 0.2s;
  cursor: pointer;
  user-select: none;
}
.button:hover {
  outline-color: var(--basic-color-white);
  background-color: var(--basic-color-extralighter);
}
.button:active {
  outline-color: var(--basic-color-extradark);
  outline-width: 2px;
  background-color: var(--basic-color-white);
}
.button:focus:not(:active) {
  outline-color: var(--basic-color-extradark);
  outline-width: 2px;
  background-color: var(--basic-color-extralighter);
}
.button:disabled {
  outline-color: var(--basic-color-extralighter);
  color: var(--basic-color-neutral);
  background-color: var(--basic-color-light);
}
.button-other {
  padding: 12px 32px;
  font-family: inherit;
  font-weight: var(--weight-middle);
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-color-white);
  text-decoration: none;
  border: none;
  border-radius: 26px;
  background-color: var(--additional-color-extrabright);
  outline: 4px solid var(--additional-color-extralight);
  cursor: pointer;
  box-shadow: var(--shadow-light);
  transition: background-color 0.15s, outline-color 0.15s;
}
.button-other:hover:not(:disabled) {
  color: var(--basic-color-extradark);
  background-color: transparent;
  outline-color: var(--additional-color-extrabright);
}
.button-other:active:not(:disabled) {
  background-color: var(--additional-color-light);
  outline-width: 2px;
  outline-color: var(--basic-color-extradark);
  outline-offset: -2px;
}
.button-other:focus:not(:active) {
  outline-width: 2px;
  outline-color: var(--basic-color-extradark);
  outline-offset: -2px;
}
.button-other:disabled {
  color: var(--basic-color-dark);
  background-color: var(--basic-color-neutral);
  outline-color: var(--basic-color-light);
  cursor: auto;
}
.button-close {
  min-width: 20px;
  min-height: 20px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  background-image: url('../img/icons/cross.svg');
  cursor: pointer;
}
.button--more {
  height: fit-content;
  margin-left: auto;
}

.input {
  padding: 14px 16px;
  font-family: inherit;
  font-weight: var(--weight-normal);
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  border: 1px solid var(--basic-color-neutral);
  border-radius: 4px;
  outline: none;
}
.input::placeholder {
  font-family: inherit;
  color: var(--basic-color-neutral);
}
.input:hover:not(:disabled) {
  border-color: var(--basic-color-extradark);
}
.input:focus {
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: -2px;
}
.input:disabled {
  background-color: var(--basic-color-light);
  color: var(--basic-color-extradark);
}
.input-error {
  border-color: var(--status-error);
}
.input-error:hover, .input-error:focus {
  outline: 2px solid var(--status-error);
  outline-offset: -2px;
}

.header-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 16px 7px 16px;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  text-decoration: none;
  background-color: var(--basic-color-extralighter);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.header-button:hover:not(.header-button--active) {
  background-color: var(--basic-color-lighter);
}
.header-button:active:not(.header-button--active) {
  background-color: var(--basic-color-white);
}
.header-button:focus:not(.header-button--active):not(:active) {
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: -2px;
}
.header-button--active {
  background-color: var(--additional-color-bright);
  color: var(--basic-color-white);
}
.header-button--active:hover {
  opacity: 0.6;
}
.header-button--active:active {
  opacity: 0.3;
}
.header-button--active:focus:not(:active) {
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: -2px;
}
.header-button::before {
  min-width: 16px;
  min-height: 16px;
  margin-top: 2px;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--basic-color-extradark);
}
.header-button--active .form-search__button-icon {
  background-color: var(--basic-color-white);
}

.main-header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr minmax(435px, 35%);
  column-gap: 16px;
  grid-row: 1 / 2;
}

.logo {
  display: inline-flex;
}
.logo:focus {
  outline: 2px solid var(--basic-color-extradark);
}
.logo-img {
  width: 137px;
  height: 56px;
}
.dropdown {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 1;
  display: none;
  min-height: 0;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--basic-color-white);
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.15s ease-in-out;
}
.dropdown-link {
  display: inline-flex;
  width: 100%;
  padding: 6px 15px;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  text-decoration: none;
}
.dropdown-link--new {
  flex-direction: column;
  row-gap: 13px;
  padding-bottom: 4px;
  font-weight: var(--weight-middle);
}
.dropdown-link--new::after {
  content: '';
  width: calc(100% - 5px);
  height: 1px;
  background-color: var(--basic-color-neutral);
}
.dropdown-link:not(.dropdown-link--new, .dropdown-link--active):hover {
  background-color: var(--additional-color-extralight);
}
.dropdown-link:not(.dropdown-link--new, .dropdown-link--active):active {
  background-color: var(--additional-color-neutral);
}
.dropdown-link:not(.dropdown-link--new):focus {
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: 0;
}
.dropdown-link--active {
  color: var(--basic-color-white);
  background-color: var(--additional-color-bright);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
.menu-list .dropdown {
  min-width: 138px;
}
.menu-list__item {
  position: relative;
  display: inline-flex;
}
.menu-list__link {
  padding: 8px 16px;
  font-family: inherit;
  font-weight: var(--weight-normal);
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--basic-color-extradark);
  transition: color 0.15s ease, background-color 0.15s ease, border-radius 0.1s ease;
  border-radius: 30px;
  cursor: pointer;
}
.menu-list__link--dropdown {
  display: flex;
  column-gap: 7px;
}
.menu-list__link--dropdown::after {
  content: '';
  align-self: center;
  min-width: 16px;
  min-height: 16px;
  -webkit-mask-image: url('../img/icons/arrow-down.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url('../img/icons/arrow-down.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--basic-color-extradark);
  transition: transform 0.2s ease-in-out;
}
.menu-list__link:hover:not(.menu-list__link--active),
.menu-list__link:focus:not(.menu-list__link--active) {
  background-color: var(--basic-color-lighter);
}
.menu-list__link:active:not(.menu-list__link--active) {
  background-color: var(--basic-color-white);
}
.menu-list__link:focus:not(.menu-list__link--active):not(:active) {
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: -2px;
}
.menu-list__link--active {
  color: var(--basic-color-white);
  background-color: var(--additional-color-bright);
}
.menu-list__link--active ~ .dropdown {
  opacity: 1;
  min-height: 100%;
  display: block;
  visibility: visible;
  pointer-events: auto;
}
.menu-list__link--active:hover {
  opacity: 0.6;
}
.menu-list__link--active:active {
  opacity: 0.3;
}
.menu-list__link--active:focus:not(:active) {
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: -2px;
}
.menu-list__link--active::after  {
  transform: rotate(180deg);
  background-color: var(--basic-color-white);
}

.number-telephone {
  font-family: inherit;
  font-weight: var(--weight-middle);
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  text-decoration: none;
}
.number-telephone:focus {
  outline: 2px solid var(--basic-color-extradark);
}

.form-search {
  position: relative;
  display: inline-flex;
  margin-right: -1px;
}
.form-search__button {
  position: relative;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
}
.form-search__button::before {
  content: '';
  margin: 0 0 0 0;
  width: inherit;
  height: inherit;
  mask-image: url('../img/icons/search.svg');
  mask-size: 16px;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--basic-color-extradark);
  pointer-events: none;

}
.header-button--active.form-search__button::before{
  background-color: var(--basic-color-white);
}
.form-search__button.header-button--active ~ .dropdown {
  opacity: 1;
  min-height: 100%;
  display: block;
  visibility: visible;
  pointer-events: auto;
}
.form-search .dropdown {
  padding: 24px 16px;
  right: 0;
  left: auto;
}
.form-search__input {
  width: 324px;
}

.container-login {
  position: relative;
}
.button-login {
  column-gap: 6px;
}
.button-login::before {
  content: '';
  mask-image: url(../img/icons/log-in.svg);
}
.header-button--active.button-login::before {
  background-color: var(--basic-color-white);
}
.button-login ~ .dropdown-login {
  padding: 48px;
  right: -1px;
  left: auto;
  min-width: 420px;
}
.button-login.header-button--active ~ .dropdown {
  opacity: 1;
  min-height: 100%;
  display: block;
  visibility: visible;
  pointer-events: auto;
}

.dropdown-login__title {
  margin: 0 0 32px 0;
}
.dropdown-login__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.dropdown-login__input {
  padding: 13px 15px;
}
.dropdown-login__buttons {
  display: inline-flex;
  gap: 23px;
  margin: 16px 0 0 0;
}
.dropdown-login__button {
  height: fit-content;
}
.dropdown-login__forgot {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dropdown-login__link {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-color-extradark);
}

.container-cart {
  position: relative;
  display: inline-flex;
}
.button-cart {
  column-gap: 6px;
  position: relative;
}
.button-cart::before {
  content: '';
  mask-image: url('../img/icons/cart.svg');
}
.header-button--active.button-cart::before {
  background-color: var(--basic-color-white);
}
.container-cart .dropdown-cart {
  padding: 48px;
  right: 0;
  left: auto;
  min-width: 441px;
}
.button-cart.header-button--active ~ .dropdown-cart {
  opacity: 1;
  min-height: 100%;
  display: block;
  visibility: visible;
  pointer-events: auto;
}

.dropdown__title {
  margin-top: 0;
  margin-bottom: 32px;
}
.dropdown-cart {
  word-break: break-word;
  box-shadow: var(--shadow-big);
}
.dropdown-cart__list {
  margin: 16px 0;
  padding: 0 0 27px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px 24px;
  border-bottom: 1px solid var(--basic-color-light);
}
.dropdown-cart__item {
  display: flex;
  column-gap: 16px;
}
.dropdown-cart__info {
  display: flex;
  flex-direction: column;
  flex: 0 0 32%;
}
.dropdown-cart__title {
  margin: 0 0 3px 0;
}
.dropdown-cart__calculate {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-color-neutral);
}
.dropdown-cart__media {
  order: -1;
  align-self: center;
}
.dropdown-cart__total {
  flex: 1 0 30%;
  align-content: center;
  margin: -4px -3px 0 0;
  text-align: center;
}
.dropdown-cart__currency {
  font-family: 'inter Rub', sans-serif;
}
.dropdown-cart__delete {
  flex: 0 0 16px;
  align-self: center;
  margin: -5px 0 0 0;
}
.dropdown-cart__total-price {
  display: flex;
  margin: 32px 0 0 0;
}
.dropdown-cart__button {
  padding: 12px 32px 12px 33px;
}
.dropdown-cart__total-price .dropdown-cart__total {
  text-align: right;
  margin: 2px 0 0 0;
}

.main {
  grid-row: 2 / 3;
}

.slider {
  padding: 21px 0 0 0;
}
.slider__images {
  position: relative;
}
.slider__list {
  display: grid;
  grid-template-columns: 525px 1fr;
  align-items: center;
  column-gap: 2px;
}
.slider__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
  margin-top: 24px;
}
.slider__content {
  padding-right: 20px;
  word-break: break-word;
}
.slider__title {
  margin-top: 0;
  margin-bottom: 24px;
}
.slider__description {
  margin-top: 0;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-color-extradark);
}
.slider__button {
  margin-bottom: 21px;
}
.slider__images-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  column-gap: 41px;
  padding: 0 0 0 19px;
  margin: 0;
}
.slider__images-item {
  position: relative;
  width: 100px;
  height: 150px;
  opacity: 0.4;
}
.slider__images-item::before {
  content: '';
  position: absolute;
  top: calc(50% - -2px);
  left: -1px;
  z-index: -1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--basic-color-extralighter);
  transform: translateY(-50%);
}
.slider__images-item--active {
  width: auto;
  height: 507px;
  opacity: 1;
  order: -1;
  margin-right: 16px;
}
.slider__images-item--active::before {
  width: 327px;
  height: 312px;
}
.slider__images-item--active img {
  width: fit-content;
  height: 507px;
}
.slider__picture {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-left: 4px;
}
.slider__images-item--active .slider__picture {
  margin-top: 0;
  margin-left: -2px;
}

.controls {
  display: flex;
  justify-content: space-between;
}
.controls__button {
  position: relative;
  width: 38px;
  height: 38px;
  border: 2px solid var(--basic-color-white);
  border-radius: 50%;
  background-color: var(--basic-color-extralighter);
  cursor: pointer;
  transition: background-color 0.15s ease, border-color 0.15s ease;
}
.controls__button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  -webkit-mask-image: url('../img/icons/arrow-down.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url('../img/icons/arrow-down.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: background-color 0.15s ease, border-color 0.15s ease;
}
.controls__button--prev::before {
  transform: translate(-50%, -50%) rotate(90deg);
  background-color: var(--basic-color-white);
}
.controls__button--next::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  background-color: var(--basic-color-white);
}

.controls__button:hover {
  border-color: var(--basic-color-white);
  background-color: var(--basic-color-white);
}
.controls__button:hover::before {
  background-color: var(--basic-color-extradark);
}

.controls__button:active {
  border-color: hsla(0, 0%, 99%, 0);
}
.controls__button:active::before {
  background-color: var(--basic-color-extradark);
}

.controls__button:focus,
.controls__button:focus-visible {
  outline: none;
  border-color: var(--basic-color-extradark);
}
.controls__button:focus::before,
.controls__button:focus-visible::before {
  background-color: var(--basic-color-extradark);
}

.slider__controls {
  position: absolute;
  top: calc(50% + 2px);
  left: 0;
  width: 363px;
  transform: translateY(-50%);
}
.slider__footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.slider__dots {
  display: flex;
  column-gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.slider__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: var(--basic-color-extralighter);
  cursor: pointer;
}
.slider__dot--active {
  background-color: var(--basic-color-white);
}
.slider__dot:hover:not(:active) {
  outline: 1px solid var(--basic-color-white);
  outline-offset: -1px;
}
.slider__dot:active {
  background-color: var(--basic-color-lighter);
}
.slider__dot:focus {
  outline: 1px solid var(--basic-color-extradark);
  outline-offset: -1px;
  }
.slider .social {
  margin: 1px 0 0 0;
}

.social {
  display: flex;
  flex-wrap: wrap;
  column-gap: 14px;
  padding: 0;
  margin: 1px -1px 0 0;
  list-style-type: none;
}
.social__item {
  position: relative;
  width: 26px;
  height: 26px;
  color: var(--basic-color-white);
}
.social__link {
  position: relative;
  display: inline-flex;
  padding: 0;
  margin: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  outline: 2px solid var(--basic-color-extralighter);
  outline-offset: -1px;
  transition: opacity 0.15s ease, outline-color 0.15s ease;
}
.social__link::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.15s ease;
}
.social__link:hover::before,
.social__link:active::before,
.social__link:focus::before {
  background-color: var(--basic-color-extradark);
}
.social__link:active {
  opacity: 0.5;
}
.social__link:focus:not(:active) {
  outline-color: var(--basic-color-extradark);
}

.social__link::after {
  content: '';
  width: inherit;
  height: inherit;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.social__link--telegram::after {
  background-image: url('../img/icons/telegram.svg');
}
.social__link--vk::after {
  background-image: url('../img/icons/vk.svg');
}
.social__link--youtube::after {
  background-image: url('../img/icons/youtube.svg');
}

.gifts {
  margin-top: -1px;
  word-break: break-word;
}
.gifts__title {
  max-width: 434px;
  margin: 0 auto 55px auto;
  text-align: center;
}
.gifts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.gift {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  background-color: var(--additional-color-neutral);
  overflow: hidden;
}
.gift__content {
  padding: 36px 0 18px 36px;
}
.gift__title {
  margin: 0 0 28px 0;
}
.gift__description {
  margin: 0 0 28px 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-color-extradark);
}
.gift__link {
  margin: 0 0 18px 0;
}
.gift__media {
  display: flex;
  align-items: end;
  height: 100%;
}
.gift__image {
  display: flex;
}

.top-products {
  word-break: break-word;
}
.top-products__title  {
  max-width: 527px;
  margin: 0 auto 56px auto;
  padding-top: 1px;
  text-align: center;
}
.top-products__container {
  display: grid;
  grid-template-columns: repeat(4, minmax(270px, 1fr));
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px 18px 40px;
  word-break: break-word;
}
.product::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - 51px);
  background-color: #fff;
  z-index: -5;
  border-radius: 8px;
}
.product__content {
  text-align: center;
}
.product__title {
  margin: 16px 0 8px 0;
}
.product__description {
  margin: 0 0 10px 0;
  line-height: 22px;
  color: var(--basic-color-dark);
}
.product__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-top: auto;
}
.product__price .title-four {
  margin: 10px 0;
}
.product__currency {
  margin-right: -5px;
  font-family: inherit;
  font-weight: 900;
}
.product__weight {
  margin-left: -5px;
}
.product__button {
  display: inline-flex;
  width: 32px;
  height: 32px;
  background-color: var(--additional-color-extrabright);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s ease, outline-color 0.15s ease;
}
.product__button--cart::before {
  content: '';
  width: inherit;
  height: inherit;
  -webkit-mask-image: url('../img/icons/cart.svg');
  -webkit-mask-size: 16px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url('../img/icons/cart.svg');
  mask-repeat: no-repeat;
  mask-size: 16px;
  mask-position: center;
  background-color: var(--basic-color-white);
  transition: background-color 0.15s ease;
}
.product__button:hover:not(:disabled) {
  background-color: transparent;
  outline: 2px solid var(--additional-color-extrabright);
  outline-offset: -2px;
}
.product__button:hover:not(:disabled).product__button--cart::before {
  background-color: var(--basic-color-extradark);
}
.product__button:active:not(:disabled) {
  outline: 2px solid var(--additional-color-extrabright);
  outline-offset: -2px;
  background-color: var(--additional-color-extralight);
}
.product__button:active:not(:disabled).product__button--cart::before {
  background-color: var(--basic-color-extradark);
}
.product__button:focus:not(:active) {
  background-color: var(--additional-color-extrabright);
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: -2px;
}
.product__button:focus:not(:active).product__button--cart::before {
  background-color: var(--basic-color-white);
}
.product__button:disabled {
  background-color: var(--basic-color-neutral);
  cursor: auto;
}
.product__button:disabled.product__button--cart::before {
  background-color: var(--basic-color-dark);
}
.product__media {
  display: flex;
  order: -1;
}
.product__image {
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--shadow-light);
}

.advantages-section {
  padding-top: 1px;
  margin-top: -1px;
  margin-bottom: 104px;
  word-break: break-word;
}
.advantages__container {
  padding-top: 24px;
}
.advantages {
  position: relative;
  margin: 24px;
  padding: 56px 40px 36px 40px;
  border-radius: 16px;
  background-color: var(--basic-color-white);
}
.advantages::before {
  content: '';
  position: absolute;
  top: -24px;
  bottom: -24px;
  left: -24px;
  right: -24px;
  border-radius: inherit;
  background-image: url('../img/background/wafer.jpg');
  background-repeat: repeat;
  background-size: auto;
  z-index: -10;
}
.advantages__title {
  margin: 0 0 56px 0;
  text-align: center;
}
.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(505px, 1fr));
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
  list-style-type: none;
  gap: 40px 32px;
}
.advantages__item {
  display: grid;
  grid-template-columns: 48px 1fr;
  column-gap: 16px;
}
.advantages__description {
  grid-column: 2/-1;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-color-dark);
}
.advantages__icon-wrapper {
  order: -1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: -2px;
}
.advantages__icon-wrapper svg,
.advantages__icon-wrapper img{
  display: inline;
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.advantages__icon--cow {
  background-image: url('../img/icons/cow.svg');
}
.advantages__icon--leaf {
  background-image: url('../img/icons/leaf.svg');
}
.advantages__icon--thermometer {
  background-image: url('../img/icons/thermometer.svg');
}

.post-subscribe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  word-break: break-word;
}

.new-post {
  padding: 32px 32px 45px 32px;
  border-radius: 16px;
  background-color: var(--basic-color-white);
  background-image: url('../img/background/post-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 41px -84px;
}
.new-post__label {
  display: flex;
  font-size: 16px;
  color: var(--basic-color-dark);
  margin: 0 0 13px 0;
}
.new-post__link {
  display: flex;
  max-width: 303px;
  text-decoration: none;
  color: var(--basic-color-extradark);
}
.new-post__link:focus {
  outline: 2px solid var(--basic-color-extradark);
}
.new-post__title {
  margin: 0 0 24px 0;
}

.subscribe {
  position: relative;
  margin: 6px;
  padding: 26px;
  border-radius: 16px;
  background-color: var(--basic-color-white);
}
.subscribe::before {
  content: '';
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  z-index: -15;
  background-image: url('../img/background/subscription-full.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -5px 0;
  border-radius: inherit;
}
.subscribe__description {
  margin: 0 0 44px 0;
  line-height: 22px;
  color: var(--basic-color-dark);
}
.subscribe__form {
  display: flex;
  column-gap: 18px;
  align-items: center;
}
.subscribe__input {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
}
.subscribe__button {
  height: fit-content;
  padding: 12px 32px;
  margin-right: 4px;
  word-break: initial;
}

.delivery {
  position: relative;
  padding: 64px 64px 65px 64px;
  border-radius: 16px;
  word-break: break-word;
}
.delivery::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--basic-color-white);
  background-image: image-set(
    url('../img/background/form.webp') 1x,
    url('../img/background/form.jpg') 1x
  );
  background-repeat: no-repeat;
  background-position: 99% 49%;
  transform: scaleX(-1);
  border-radius: inherit;
  background-size: 105%;
}
.delivery-wrapper {
  display: grid;
  grid-template-columns: 407px 500px;
  column-gap: 135px;
  align-items: center;
}
.delivery__content {
  margin: 21px 0 0 36px;
}
.delivery__title {
  margin: 0 0 24px 0;
}
.delivery__description {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-color-dark);
}
.delivery-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 41px 40px;
  background-color: var(--basic-color-white);
  border-radius: 8px;
}
.delivery-form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
}
.delivery-form__legend {
  width: 93%;
  padding: 0;
  margin-bottom: 31px;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-color-dark);
}
.delivery-form__wrapper {
  display: grid;
  grid-template-columns: 117px 1fr;
  align-items: end;
  gap: 20px 16px;
  margin-bottom: 32px;
}

.delivery-form__label {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5px;
  align-items: center;
  margin: 0 0 8px 0;
  font-weight: var(--weight-middle);
  font-size: 16px;
  line-height: 20px;
}
.delivery-form__input {
  width: 100%;
  padding: 13px 15px;
}
.delivery-form__date {
  grid-column: 1/2;
  grid-row: 1/2;
}
.delivery-form__telephone {
  grid-column: 2/3;
  grid-row: 1/2;
}
.delivery-form__address {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.tooltip {
  position: relative;
  display: inline-flex;
  width: 100%;
}
.tooltip__button {
  width: 14px;
  height: 14px;
  text-align: left;
  border: none;
  background-color: transparent;
  background-image: url('../img/icons/Info.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}
.tooltip__button:focus {
  outline: 2px solid var(--basic-color-extradark);
}
.tooltip__button:hover:not(.delivery-form__label) ~ .tooltip__info {
  visibility: visible;
  opacity: 1;
}
.tooltip__info {
  position: absolute;
  min-width: 64px;
  max-width: 169px;
  padding: 10px 8px;
  font-weight: var(--weight-normal);
  font-size: 12px;
  line-height: 16px;
  color: var(--basic-color-dark);
  border: 1px solid var(--basic-color-neutral);
  border-radius: 2px;
  background-color: var(--basic-color-white);
  transform: translate(30px, -14px);
  opacity: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
  z-index: 10;
  transition: opacity 0.25s;
}
.tooltip__info::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent var(--basic-color-neutral) transparent transparent;
}
.tooltip__info::after {
  content: '';
  position: absolute;
  top: 8px;
  left: -19px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent var(--basic-color-white) transparent transparent;
}

.contacts-wrapper {
  padding: 64px;
  border-radius: 16px;
  background-color: var(--basic-color-white);
  background-image: image-set(
    url('../img/background/address.webp') 1x,
    url('../img/background/address.jpg') 1x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -83px;
  word-break: break-word;
}
.contacts {
  padding: 40px;
  border-radius: 8px;
  background-color: var(--basic-color-white);
}
.contacts-container {
  max-width: 343px;
}
.contacts__title {
  margin: 0 0 12px 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: var(--weight-normal);
  font-style: normal;
  color: var(--basic-color-dark);
}
.contacts__address {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-style: normal;
}
.contacts__street {
  margin: 0 0 8px 0;
}
.contacts__info {
  display: flex;
  flex-direction: column;
}
.contacts__telephone {
  color: var(--basic-color-extradark);
  text-decoration: none;
}
.contacts__telephone:focus {
  outline: 2px solid var(--basic-color-extradark);
}
.contacts__time {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-color-dark);
}
.contacts__button {
  margin: 0 0 2px 0;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 46px 0;
  grid-row: 3 / 4;
}
.main-footer__copyright {
  max-width: 250px;
}

.main-footer__social {
  row-gap: 8px;
  margin: 1px 0 0 -1px;
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 0;
  min-width: 356px;
  max-width: 450px;
  margin: 1px 0 0 -1px;
  list-style-type: none;
}
.footer-menu__item {
  display: flex;
  height: fit-content;
  margin: 0 0 8px 24px;
}
.footer-menu__link {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  text-decoration: none;
}
.footer-menu__link:focus {
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: 0;
}
.footer-menu__item--favorite {
  position: relative;
  font-weight: var(--weight-middle);
}
.footer-menu__item--favorite::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 13%;
  left: -24px;
  background-image: url('../img/icons/heart-fill.svg');
}

.copyright {
  min-width: 193px;
  margin: 2px -1px 0 0;
}
.copyright__logo-link {
  display: inline-flex;
  margin: 0 0 11px 0;
}
.copyright__logo-link:focus {
  outline: 2px solid var(--basic-color-extradark);
}
.copyright__logo-img {
  object-fit: cover;
}
.copyright__text {
  margin: 0;
  font-size: 12px;
  height: 16px;
  color: var(--basic-color-extradark);
}
.copyright__link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--basic-color-dark);
}
.copyright__link:focus {
  outline: 2px solid var(--basic-color-extradark);
}

.modal {
  position: fixed;
  inset: 0;
  background-color: hsla(218, 17%, 21%, 0.3);
  z-index: 50;
}
.modal--hidden {
  display: none;
}
.modal--show {
  display: block;
}
.modal__title {
  margin-top: 0;
  margin-bottom: 24px;
}
.modal__overlay {
  position: absolute;
  inset: 0;
  cursor: pointer;
  z-index: 55;
}
.modal__container {
  position: relative;
  width: 570px;
  padding: 64px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  box-shadow: var(--shadow-middle);
  border-radius: 8px;
  z-index: 60;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__input {
  width: 100%;
  margin: 8px 0;
  padding: 13px 15px;
}
.modal__textarea {
  width: 100%;
  height: 149px;
  margin: 8px 0;
  padding: 13px 15px;
  resize: none;
}
.modal__button {
  margin: 24px 0 0 0;
  padding: 13px 31px;
  width: fit-content;
  align-self: end;
}
.modal__button-close {
  position: absolute;
  top: 32px;
  right: 32px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  padding: 0;
  margin: 0 0 16px 0;
  list-style: none;
}
.breadcrumbs__item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.breadcrumbs__item:not(:last-child)::after {
  content: '';
  width: 12px;
  height: 12px;
  background-image: url('../img/icons/chevrons-right.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 1px 0;
}
.breadcrumbs__link {
  font-weight: var(--weight-middle);
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  text-decoration: none;
}
.breadcrumbs__link:focus {
  outline: 2px solid var(--basic-color-extradark);
}
.breadcrumbs__link--active {
  margin-left: 1px;
  border-bottom: 1px solid var(--basic-color-extradark);
}

.catalog {
  padding: 31px 0 0 0;
}
.catalog__header {
  display: flex;
  flex-direction: column;
  margin: 0 0 19px 0;
}
.catalog__title {
  order: 1;
  margin: 0 0 20px 0;
}
.catalog__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 30px;
  margin: 44px 0;
}
.catalog__footer {
  display: flex;
  justify-content: space-between;
  padding: 13px 0 80px 0;
  border-bottom: 1px solid var(--basic-color-extralighter);
}
.catalog__footer .button--more {
  transform: translateX(76px);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 24px;
}
.filter__container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
}
.filter__title {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0 0 9px 16px;
  color: var(--basic-color-extradark);
}
.filter__container-input {
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background-color: var(--basic-color-extralighter);
  appearance: none;
}
.filter__container-input.select {
  cursor: pointer;
  transition: background-color 0.15s;
}
.filter__container-input.select:hover {
  background-color: var(--basic-color-lighter);
}
.filter__container-input.select:focus {
  background-color: var(--basic-color-lighter);
  outline: 2px solid var(--basic-color-white);
  outline-offset: -2px;
}
.filter__button {
  align-self: end;
  height: fit-content;
  margin: 0 0 2px -7px;
  padding: 7px 53px 9px 53px;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  background-color: var(--basic-color-extralighter);
  outline-width: 2px;
  outline-color: var(--basic-color-white);
}
.filter__button:not(:disabled):hover {
  background-color: var(--basic-color-white);
  outline-color: var(--basic-color-extralighter);
}
.filter__button:active {
  background-color: var(--basic-color-extralighter);
  outline-color: transparent;
}
.filter__button:not(:disabled):focus {
  background-color: var(--basic-color-extralighter);
  outline-color: var(--basic-color-extradark);
}
.filter__button:disabled {
  cursor: auto;
  background-color: var(--basic-color-extralighter);
  outline-color: var(--basic-color-lighter);
}

.select {
  width: fit-content;
  padding: 7px 63px 9px 16px;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  letter-spacing: -0.1px;
  background-image: url('../img/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: 167px 10px;
}
.select:open {
  background-image: url('../img/icons/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: 167px 10px;
}

.toggle-price {
  width: fit-content;
}
.toggle-price__minmax {
  display: flex;
  column-gap: 4px;
}
.toggle-price__min,
.toggle-price__max{
  position: relative;
}
.toggle-price__min::after,
.toggle-price__max::after{
  content: '₽';
  position: absolute;
  top: 1px;
  right: -13px;
  font-size: 14px;
}
.toggle-price__max {
  margin-left: 24px;
}
.toggle-price__max::before {
  content: '–';
  position: absolute;
  left: -12px;
}
.toggle-price__min-input,
.toggle-price__max-input {
  width: 25px;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-color-extradark);
  background-color: transparent;
  border: none;
  outline: none;
}
.toggle-price .filter__container-input {
  padding: 10px 16px;
}
.toggle-range {
  position: relative;
  display: flex;
  align-items: center;
  width: 164px;
  height: 16px;
}
.toggle-range__slider {
  position: relative;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--basic-color-darklight);
  z-index: 25;
}
.toggle-range__visual-total {
  position: absolute;
  left: 30px;
  right: 60px;
  height: inherit;
  background-color: var(--basic-color-dark);

  z-index: 30;
}
.toggle-range__button {
  position: absolute;
  top: 0;
  display: inline-flex;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 6px solid var(--basic-color-extradark);
  border-radius: 50%;
  background-color: var(--basic-color-white);
  cursor: pointer;
  z-index: 35;
  transition: background-color 0.05s, border-color 0.05s;
}
.toggle-range__button:hover {
  background-color: var(--basic-color-extradark);
  border-color: var(--basic-color-white);
}
.toggle-range__button:active {
  background-color: var(--basic-color-extradark);
  border-color: var(--basic-color-extradark);
}
.toggle-range__button:focus {
  background-color: var(--basic-color-extradark);
  border-color: var(--basic-color-white);
  outline: 1px solid var(--basic-color-extradark);
}
.toggle-range__button--min {
  left: 24px;
}
.toggle-range__button--max {
  right: 52px;
}

.radio {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  padding: 9px 23px 9px 24px;
  column-gap: 17px;
  row-gap: 7px;
}
.radio__container {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}
.radio__input {
  position: relative;
  display: inline-flex;
  min-width: 16px;
  min-height: 16px;
  border: 1px solid var(--basic-color-extradark);
  border-radius: 50%;
  transition: border-color 0.15s;
}
.radio__container input[type=radio]:checked + .radio__input::before {
  content: '';
  position: absolute;
  min-width: 6px;
  min-height: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--basic-color-extradark);
  transition: background-color 0.15s;
}
.radio__container input[type=radio]:disabled + .radio__input {
  border-color: var(--basic-color-extradark);
  opacity: 0.5;
}
.radio__container:hover .radio__input {
  border-color: var(--basic-color-white);
}
.radio__container input[type=radio]:focus + .radio__input {
  outline: 2px solid var(--basic-color-extradark);
  outline-offset: 2px;
}
.radio__container:hover input[type=radio]:not(:disabled):checked + .radio__input::before {
  background-color: var(--basic-color-white);
}
.radio__value {
  margin-top: -2px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
}

.checkbox {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  padding: 9px 25px 11px 24px;
  column-gap: 17px;
  row-gap: 7px;
}
.checkbox__container {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}
.checkbox__container:hover .checkbox__input{
  background-color: var(--basic-color-white);
}
.checkbox__input {
  position: relative;
  display: inline-flex;
  min-width: 16px;
  min-height: 16px;
  margin-top: 1px;
  background-color: var(--basic-color-extradark);
  -webkit-mask-image: url('../img/icons/checkbox-default.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url('../img/icons/checkbox-default.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: background-color 0.05s;
}
.checkbox__container input[type=checkbox]:checked ~ .checkbox__input {
  -webkit-mask-image: url('../img/icons/checkbox-active.svg');
  mask-image: url('../img/icons/checkbox-active.svg');
}
.checkbox__container input[type=checkbox]:disabled + .checkbox__input {
  background-color: var(--basic-color-extradark);
  opacity: 0.5;
}
.checkbox__container input[type=checkbox]:focus ~ .checkbox__input {
  background-color: var(--basic-color-white);
}
.checkbox__value {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-color-extradark);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
}
.pagination__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.pagination__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  color: var(--basic-color-extradark);
  text-decoration: none;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.pagination__button:not(.pagination__button--active):hover {
  background-color: var(--basic-color-lighter);
}
.pagination__button:not(.pagination__button--active):active {
  border: 1px solid var(--basic-color-white);
  background-color: var(--basic-color-lighter);
}
.pagination__button:not(.pagination__button--active):focus-within {
  outline: 1px solid var(--basic-color-extradark);
  background-color: var(--basic-color-lighter);
}
.pagination__button--active {
  background-color: var(--basic-color-white);
}
.pagination__button--active:not(:active):focus-within {
  outline: 1px solid var(--basic-color-extradark);
}
.pagination__button-prev {
  min-width: 16px;
  min-height: 16px;
  background-image: url('../img/icons/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: 0 center;
}
.pagination__button-prev:disabled {
  opacity: 0.5;
  cursor: auto;
}
.pagination__button-next {
  min-width: 16px;
  min-height: 16px;
  background-image: url('../img/icons/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: 100% center;
}
.pagination__button-next:disabled {
  opacity: 0.5;
  cursor: auto;
}

